COINGECKO_BASE=https://api.coingecko.com/api/v3
COINGECKO_DEMO_KEY=
COINGECKO_PRO_KEY=
BINANCE_WS_BASE=wss://data-stream.binance.vision
NUXT_PUBLIC_DEFAULT_CURRENCY=usd
NUXT_PUBLIC_DEFAULT_POLL_SPEED=medium
